@import '../../styles/colors';

.SearchInputList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px 15px 50px;
}

.SearchInputList_search-controls > button {
    border: none;
    color: $cornsilk;
    width: 275px;
    height: 75px;
    font-weight: bold;
    font-size: 1.25em;
    background-color: $goldenrod;
}