@import '../../styles/colors';

.SearchInputList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.SearchInputList_search-controls > button {
    border: none;
    color: $cornsilk;
    width: 275px;
    height: 75px;
    font-weight: bold;
    font-size: 1.25em;
    background-color: $goldenrod;
}

.SearchInput:first-of-type {
    background-color: $goldenrod
}

.SearchInput:nth-of-type(2) {
    background-color: $lightblue;
}

.SearchInput:nth-of-type(3) {
    background-color: $goldenrod;
}

.SearchInput:nth-of-type(4) {
    background-color: $azul;
}