@import '../../styles/colors';

.LandingPage {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    background-color: $cornsilk;
    color: $cornsilk;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
}