@import '../../styles/colors';

.BoroughSearchButton {
    border: none;
    display: flex;
    flex-direction: column;
}

.BoroughSearchButton:hover {
    cursor: pointer;
}

.BoroughSearchButton_text {
    width: 100%;
    color: $cornsilk;
    text-align: center;
    font-size: 3rem;
    height: 50%;
}

.BoroughSearchButton_text:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}