@import '../../styles/colors';

.SearchInput {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    row-gap: 20px;
    padding: 20px 10px;
    margin-bottom: 15px;
    background-color: $lightblue;
    // width: 50%;
}

.SearchInput:hover {
    background-color: $salmon;
}

.SearchInput_search {
    width: 80%;
}

.SearchInput_input, .SearchInput_label {
    font-weight: bold;
}

.SearchInput_label {
    grid-column: 1 / 13;
    grid-row: 1 / span 1;
}

.SearchInput_input {
    grid-column: 1 / 13;
    grid-row: 2 / span 1;
}

.input_wrapper {
    span {
        display: inline-block;
        width: 15%;
    }
    .SearchInput_input-content {
        display: inline-block;
        width: 60%;
         & > input, & > select, & > textarea {
             width: 100%;
             padding: 10px 0;
             border-radius: 10px;
             border: 1px solid gray;
         }
    }
}