@import '../../styles/colors';


.RestaurantThumbnail {
    width: 20%;
    padding: 20px;
    background-color: $lightblue;
    color: $cornsilk;
    margin: 15px;
}

.RestaurantThumbnail:hover {
    background-color: $salmon;
}