@import '../../styles/colors';


.RestaurantThumbnail {
    width: 20%;
    min-width: 200px;
    padding: 20px;
    background-color: $lightblue;
    color: $cornsilk;
    margin: 5px;
}

.RestaurantThumbnail:hover {
    background-color: $salmon;
}