@import '../../styles/colors';


.RestaurantThumbnail {
    width: 20%;
    min-width: 200px;
    padding: 20px;
    background-color: $lightblue;
    color: $cornsilk;
    margin: 5px;
}

.RestaurantThumbnail:hover {
    background-color: $salmon;
}

span.RestaurantThumbnail-more:hover {
    cursor: pointer;
}
// span.RestaurantThumbnail-more {
//     transition: transform 2000ms ease-in-out;
//     :hover {
//         cursor: pointer;
//         transform: scale(1.75, 1.75);
//     }
// }