@import '../../styles/colors';

.Header {
    // grid-column: 1 / -1;
    // grid-row: 1 / 2;
    grid-area: h;
    background-color: $lightblue;
    color: $cornsilk;
    display: flex;
    justify-content: center;
}


.Header ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}