@import '../../styles/colors';

.Sidebar {
    grid-area: s;
    background-color: $goldenrod;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 25%;
  }

  .Sidebar-nav > button {
      border: none;
      background-color: transparent;
      color: $salmon;
  }

  .Sidebar-icon {
      display: block;
      margin-bottom: 50px;
      :hover {
          cursor: pointer;
      }
  }