@import '../../styles/colors';

.Tooltip {
    position: absolute;
    background-color: rgb(150, 150, 150);
    color: $cornsilk;
    padding: 10px;
    width: 200px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}