@import './styles/colors';

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto auto 50px;
  grid-gap: 10px;
  padding: 25px;
  grid-template-areas: 
    "h h h h h h h h h h h s"
    "c c c c c c c c c c c s"
    "f f f f f f f f f f f s"
  ;
}

.App_sidebar {
  grid-area: s;
  background-color: $goldenrod;
  position: relative;
}

.App_sidebar-nav {
  position: fixed;
  top: 50%;
}