@import '../../styles/colors';

.RestaurantList {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 500px 150px auto;
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    row-gap: 15px;
}

.RestaurantList_map {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    background-color: $salmon;
    color: $cornsilk;
    text-align: center;
}

.RestaurantsList_pagination {
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    background-color: $azul;
    color: $cornsilk;
    text-align: center;
}

.RestaurantList_thumbnails {
    grid-column: 1 / -1;
    grid-row: 3 / span 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}